body {
  font-family: "Source Serif Pro", serif;
  color: #2a2a2a;
  margin: 0;
  padding: 0;
  font-size: 1em;
  background: white;
}
@media (max-width: 800px) {
  body {
    font-size: 1.5em;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Linden Hill", serif;
}

#menu {
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  #menu {
    flex-direction: column;
  }
}

#menu > a {
  display: flex;
  max-height: 70px;
  margin: 0 0.5em;
  text-decoration: none;
  color: black;
  font-style: italic;
  font-size: 1.2em;
  text-align: center;
}

#menu > .item {
  padding: 3px 7px;
}

#menu > .item:hover {
  border-bottom: 1px solid rgba(136, 36, 138, 0.5);
  color: rgb(136, 36, 138);
  margin-top: 1px;
}

#menu > .item.focus {
  border-bottom: 1px solid rgba(136, 36, 138, 0.5);
  /*background-color: rgba(136, 36, 138, 0.05);*/
  color: rgb(136, 36, 138);
  font-weight: bold;
  font-style: none;
}

#menu > .item.focus:hover {
  margin-top: 0;
}

#menu > #logo {
  padding: 0 7px;
}

#menu > #logo > img {
  height: 3em;
}

#content {
  max-width: 800px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  #content {
    width: 100%;
  }
}

#collages {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*flex-wrap: wrap;*/
  -moz-column-count: 5;
  -webkit-column-count: 5;
  column-count: 5;
  -webkit-column-count: 5;
  -webkit-column-gap: 1em;
  column-gap: 1em;
}
@media (max-width: 800px) {
  #collages {
    /*flex-direction: column;*/
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-count: 2;
    -webkit-column-gap: 0.2em;
    column-gap: 0.2em;
  }
}

.collage {
  display: inline-block;
  /*flex-direction: row;*/
  margin: 1em 0;
  /*width: 48%;*/
}

.collage > .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.collage > .image > img {
  width: 100%;
}

.collage > .metadata {
  width: 60%;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  padding-left: 0.5em;
}
@media (max-width: 800px) {
  .collage > .metadata {
    width: 96%;
    padding: 0 2%;
  }
}

.collage > .metadata > .title > .name {
  font-family: "Libre Baskerville", serif;
  font-size: 1.1em;
  font-style: italic;
}

.collage > .metadata > .status {
  font-size: 0.9em;
  color: #88248a;
  font-style: italic;
}
.collage > .metadata > .status > a {
  font-weight: bold;
  text-decoration: none;
}

.collage > .metadata > .status > a:hover {
  border-bottom: 1px dashed #ccc;
}

#collage {
  text-align: center;
}

#collage > #title > em {
  font-weight: normal;
}

.page-content {
  max-width: 600px;
  margin: 0 auto;
}

#footer {
  width: 70%;
  margin: 3em auto;
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}
@media (max-width: 800px) {
  #footer {
    width: 90%;
    margin: 1.5em auto;
  }
}

#content a,
#footer a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.page-content a:hover,
#footer a:hover {
  border-bottom: 1px dashed #ccc;
}

code {
  font-family: "Source Code Pro", monospace;
}
