{% extends '_base.html' %}

{% block content %}
<div class="page-content">
  {% for collage in collages %}
  {% if collage.slug_name == collage_slug_name %}
  <div id="collage">
    <p>
    <a href="index.html">
      ← Retour aux collages
    </a>
    </p>
    <h2 id="title">
      <strong class="name">{{ collage.name }}</strong>
      (<span class="year">{{ collage.year }}</span>),
      {% if collage.width_in_cm and collage.height_in_cm %}
      <em class="dimensions">
        {{ collage.width_in_cm }} x {{ collage.height_in_cm }} cm</em>.
      {% endif %}
    </h2>
    <p>
    {% if collage.note %}
    {{ collage.note }}.
    {% endif %}
    </p>
    <p>
    <img src="static/collages-small/{{ collage.image_filename }}"
         alt="{{ collage.name }}"/>
    </p>
    <p>
    8 exemplaires numérotés de 1 à 8<br>
    <a href="contact.html">( commander )</a>
    <br>—
    </p>
    {% if collage.how_many_sold %}
    <p>
    {% if collage.how_many_sold >= collage.how_many_printed %}
    Indisponible.
    {% else %}
    {{ collage.how_many_sold }}/{{ collage.how_many_printed }}
    vendus{% if collage.price %}, {{ collage.price }}€ pièce{% endif %}
    à <em>{{ collage.sold_to|join(", ") }}</em>
    {% endif %}
    </p>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
