{% extends '_base.html' %}

{% block content %}
<div class="page-content">
  <h2>Salons</h2>
  <ul id="exhibitions">
    {% for exhibition in exhibitions %}
    {% if exhibition.type == "salon" %}
    <li class="exhibition">
      <em>{{ exhibition.name }}</em> // <strong>{{ exhibition.year }}</strong>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  <h2>Expositions</h2>
  <ul id="exhibitions">
    {% for exhibition in exhibitions %}
    {% if exhibition.type == "exhibition" %}
    <li class="exhibition">
      <em>{{ exhibition.name }}</em> // <strong>{{ exhibition.year }}</strong>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}
