{% extends '_base.html' %}

{% block content %}
<div id="collages">
  {% for collage in collages %}
  <div class="collage">
    <div class="image">
      <img
        src="static/collages/{{ collage.image_filename }}"
        alt="{{ collage.name }}"/>
    </div>
    <div class="metadata">
      <div class="title">
        <strong class="name">{{ collage.name }}</strong>,
        <span class="year">{{ collage.year }}</span>.
        {{ collage.technical_note }}
        <em class="dimensions">
          {{ collage.width_in_cm }}x{{ collage.height_in_cm }}cm</em>.
      </div>
      <div class="status">
        {% if collage.how_many_sold >= collage.how_many_printed %}
        Indisponible.
        {% else %}
        {{ collage.how_many_sold }}/{{ collage.how_many_printed }} vendus,
        {{ collage.price }}€ pièce.<br>
        <a href="contact.html">( commander )</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
