{% extends '_base.html' %}

{% block content %}
<p style="text-align: center;">
<em>Sélection à partir d'une centaine de collages réalisés entre 1990 et 2020</em>
</p>
<div id="collages">
  {% for collage in collages %}
  {% if collage.image_filename %}
  <div class="collage">
    <a class="image" href="{{ collage.slug_name }}.html">
      <img
        src="static/collages-small/{{ collage.image_filename }}"
        alt="{{ collage.name }}"/>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
